<header>
  <div id="map"></div>
</header>
<main>
  <h1><a href="/" rel="home">Welcome to AP</a></h1>

  <h3>When</h3>
    <p><mark>August 7th, 2017</mark>, this site was completed at <mark>3pm</mark>.</p>

    <h3>Where</h3>
    <p><mark>The one and only <a href="https://www.google.com/maps/place/Analytics+Pros+-+Seattle/@47.666847,-122.3862745,17z/data=!3m1!4b1!4m5!3m4!1s0x549015c91850e661:0xa8267798a64d11ed!8m2!3d47.666847!4d-122.3840858" rel="external nofollow">Ballard</a>.</mark> It's about a 30 minute drive from the airport.</p>
    <p>As the Nordic Heritage Museum confirms, this neighborhood remains proud of its Scandinavian roots and hard-working maritime past. The vibe has greatly changed in recent decades, though, with Ballard now known as one of the hottest going-out hubs in town.</p>

    <h3>Dining</h3>
    <p>When in Ballard, it’s a no-brainer to queue up for sensational eats at Renee Erickson’s <makr>The Walrus and the Carpenter</mark> (just be prepared to grab a cocktail while you wait; try <mark>Percy’s & Co</mark>.).</p>
    <p>But first, begin the day with huevos rancheros at <mark>Señor Moose</mark> or fresh guac and lunchtime tacos at brand-new <mark>Gracia</mark>.</p>
    <p><mark>Bitterroot</mark> puts a Northwest spin on barbecue (accompanied by cheddar grits and cast-iron cornbread), while <mark>Ballard Annex Oyster House</mark> sets the scene with tanks of whole Dungeness crab.</p>
    <p>Definitely head outside of the main Old Ballard center to savor <mark>Delancey</mark>, the ever-so-charming pizza project of husband-wife duo Brandon Pettit and Molly Wizenberg.</p>
    <p>Enjoy a behind-the-scenes look at their creations through Molly’s delightful blog, Orangette.</p>

    <p class="joinus"><a class="button" href="https://docs.google.com/forms/d/1KhK-vtkI0Anq8vrHGTKbm9lKn1v8yWGXkkLUhn_JXo4/viewform" rel="external nofollow">JOIN US</a></p>
  </main>
  <footer>
    <p>Created by <a href="http://gabemdev.com" rel="external nofollow">Gabe Morales</a>.</p>
  </footer>

  <script src="/assets/map.js"></script>
